<div id="order" class="container">
  <h1 class="title has-text-centered">Order Summary</h1>


  <div class="level">
      <p class="level-left title">Cart</p>
      <p class="level-right">Price</p>
  </div>


  <% cart.each do |item| %>
    <div class="level">
      <p class="level-left"><%= item.title %></>
      <p class="level-right">$<%= '%.2f' % (item.price.to_f / 100) %></p>
    </div>
  <% end %>

  <%= form_with url: checkout_create_path, remote: true do %>
    <%= button_tag 'Buy Now', class: "button is-light"%>
  <% end %>
</div>