<div class="field has-addons">
  <div class="control">
    <input class="input" type="text" placeholder="Search">
  </div>
  <div class="control">
    <div class="select">
      <select class="has-background-light">
        <option>Title</option>
        <option>Something Else</option>
      </select>
    </div>
  </div>
</div>