// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#movieShow {
  background-color: lightgrey;
}

.searchForm {
  background-color: lightgrey;
  margin-bottom: 20px;

  .searchBar{
    margin-left: auto;
    margin-right: auto;
  }
}